<ion-header>
    <ion-button>
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title>Background Mode Example</ion-title>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="playAudio()">Play audio</ion-button>

</ion-content>
